<!-- SCREEN LOADING -->
@if( screenLoadingService.getValue ) {
	<!-- <div class="spinner-container text-center">
		<mat-spinner class="position-absolute white" strokeWidth="5" [diameter]="150"></mat-spinner>
		<img class="position-absolute spinner-logo" src="/logo_jmz.png" onError="this.onerror=null;this.src='../../../../assets/images/logos/sigesco-spinner.png';">
		<h4 class="position-absolute mt-5 w-100 h-100 d-flex text-light-green">Espere un momento por favor...</h4>
	</div> -->
}
<!-- NAVIGATION MENU -->
<!-- <app-navigation-menu></app-navigation-menu> -->




<div class="bg-[#292F36] h-full grid grid-rows-4">
	<div class="h-screen">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nostrum ex expedita pariatur dolore, blanditiis nulla qui, eius cupiditate, totam assumenda exercitationem. Repudiandae voluptatum cumque maxime animi! Deserunt, impedit aliquid.
	</div>
	<div class="h-screen">
		Veniam nostrum ex expedita pariatur dolore, blanditiis nulla qui, eius cupiditate, totam assumenda exercitationem. Repudiandae voluptatum cumque maxime animi! Deserunt, impedit aliquid.
	</div>
	<div class="h-screen">
		nostrum ex expedita pariatur dolore, blanditiis nulla qui, eius cupiditate, totam assumenda exercitationem. Repudiandae voluptatum cumque maxime animi! Deserunt, impedit aliquid.
	</div>
	<div class="h-screen">
		cumque maxime animi! Deserunt, impedit aliquid.
	</div>
</div>










<!-- HOME SECTION -->
<!-- <div id="home" [style.height]="innerHeight + 'px'" class="home-section"> -->
	<!-- data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" -->
	<!-- <app-home  ></app-home> -->
<!-- </div> -->
<!-- SKILLS SECTION -->
<!-- <div id="skills" [style.height]="innerHeight + 'px'" class="skills-section"> -->
	<!-- <div class="skills-section-bg"></div>
	<app-skills class="skills-section-app" data-aos="flip-left"
	data-aos-easing="ease-out-cubic"
	data-aos-duration="2000"></app-skills> -->
<!-- </div> -->
<!-- WORKS SECTION -->
<!-- <div id="works" [style.height]="innerHeight + 'px'" class="works-section"> -->
	<!-- <div class="works-section-bg"></div>
	<app-works class="works-section-app"></app-works> -->
<!-- </div> -->
<!-- FOOTER SECTION  -->
<!-- <div id="footer" class="footer-section"> -->
	<!-- <app-footer class="footer-section-app"></app-footer> -->
<!-- </div> -->
